.container {
  margin: 0 1.5rem 0;
}

@media only screen and (min-width: 668px) {
  .container {
    margin: 0 6.25rem 0;
  }
}

.addBookTitle {
  margin: 1.813rem 0 1.188rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
  text-transform: uppercase;
}

.addBookFormSection {
  margin-bottom: 50px;
}
